
.container {
    padding-top: 100px;
    margin: 0px auto;
  }
  
  .swiper_container {
    height: 400px;
    padding: 2rem 0;
    padding-right: 0;
    position: relative;
  }
  .carousel-screen-card{
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 400px;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: 1000;
      top: 0;
      background-color:transparent;    
  }
  
  .carousel-button{
      padding-top: 20px;
  }
  .swiper-slide {
    width: 550px;
    height: 350px;
    padding: 0 30px;
    position: relative;
  }
  
  @media (max-width: 500px) {
    .swiper_container {
      height: 47rem;
    }
    .swiper-slide {
      width: 550px !important;
      height: 300px !important;
    }
    .swiper-slide img {
      width: 550px !important;
      height: 350px !important;
     
    }
  }
  
  
  .swiper-slide img {
    width: 550px;
    height: 350px;
    object-fit: cover;
    box-shadow:0 0 10px gray ;
  }
  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }